.container {
  display: flex;
  max-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
  position: relative;
}

.leftPanel {
  width: 300px;
}

.rightContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 30px 50px;
  height: 100%;
}

.title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 30px;
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 20px;
  justify-content: center;
  overflow: auto;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
}

.characterImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0 30%;
  margin-bottom: 20px;
}

.name {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 15px;
}

.species,
.status {
  font-size: 15px;
}

.species {
  margin-bottom: 5px;
}

.status {
  margin-bottom: 20px;
}

.detailButton {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .leftPanel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -300px;
    z-index: 1;
  }
}
