.container {
  display: flex;
  max-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
  position: relative;
}

.leftPanel {
  width: 300px;
}

.rightContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 30px 50px;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 850px) {
  .leftPanel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -300px;
    z-index: 1;
    transition: left 200ms ease-in-out;

    &.show {
      left: 0;
    }
  }
}
