@import '../../../index.scss';

.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 20px;
  justify-content: center;
  overflow: auto;
  width: 100%;
  margin-bottom: 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  background-color: $zombie;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 3px 3px 0px $shadow-color;
  overflow: visible;
}

.characterImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0 30%;
  margin-bottom: 20px;
}

.name {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 15px;
}

.species,
.status {
  font-size: 15px;
}

.species {
  margin-bottom: 5px;
}

.status {
  margin-bottom: 20px;
}

.detailButton {
  width: 100%;
}

.error {
  align-self: center;
  justify-self: center;
  font-size: 30px;
  line-height: 1.2;
}

.toTopButton {
  position: absolute !important;
  bottom: 10%;
  right: 5%;
}

.goToTopTitle {
  color: white;
}

@media screen and (max-width: 450px) {
  .listContainer {
    grid-template-columns: repeat(auto-fill, 250px);
  }
}
